img[alt="sony_logo"] {
  width: 100px;
  height: auto;
}

#jumbotron-returnal {
  min-height: 512px;
  background-image: url(/img/jumbo-bg.png);
  background-repeat: no-repeat;
  color: white;
}

#jumbotron-takestwo {
  background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
  min-height: 512px;
  background-repeat: no-repeat;
  color: white;
}

#nuove-uscite {
  width: auto;
  height: auto;
  background-color: black;
  color: white;
}

#playstationplus {
  width: auto;
  height: auto;
  background-color: #bebcbb;
}

div[class="giochi"],
div[class="product"] {
  width: 200px;
  height: auto;
  text-align: center;
}

section {
  margin: 10px 0px;
}

div[class="items"],
img[alt="ps4-item"] {
  width: 400px;
  height: auto;
  text-align: center;
}

img[alt="returnal-hero-banner-logo"],
img[alt="takestwo-logo"] {
  width: 200px;
  height: auto;
}

img[alt="logo-plus"],
img[alt="discount-item"] {
  width: 300px;
  height: auto;
}

img[alt="playstation-5"],
img[alt="banner"] {
  max-width: 600px;
  height: auto;
}

img[alt="product-list"],
img[alt="nuovi-giochi"] {
  width: 200px;
  height: auto;
  margin: 5px;
  border-radius: 5px;
}
