img[alt="sony_logo"] {
  width: 100px;
  height: auto;
}

#jumbotron-returnal {
  min-height: 512px;
  background-image: url(/img/jumbo-bg.png);
  background-repeat: no-repeat;
  color: white;
}

#jumbotron-takestwo {
  background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
  min-height: 512px;
  background-repeat: no-repeat;
  color: white;
}

#nuove-uscite {
  width: auto;
  height: auto;
  background-color: black;
  color: white;
}

img[alt="returnal-hero-banner-logo"],
img[alt="takestwo-logo"] {
  width: 200px;
  height: auto;
}

img[alt="playstation-5"] {
  width: 600px;
  height: auto;
}

img[alt="product-list"],
img[alt="nuovi-giochi"] {
  width: 200px;
  height: auto;
  margin: 5px;
  border-radius: 5px;
}
